<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    >
    <php>
        <ini name="momory_limit" value="-1"/>
        <const name="CLI" value="1"/>
    </php>
    <testsuites>
        <testsuite name="general">
            <directory>tests/general/</directory>
        </testsuite>
    </testsuites>
</phpunit>
